<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </link>
    <title>Libre Mercado</title>
    <link rel="stylesheet" type="text/css" href="style.css"></link>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand" href="#">Libre Mercado</h1>
</nav>

<br/>
<!-- El "agregarProducto" hace referencia al HTML -->
<a th:href ="inicioSesion" class="btn btn-block btn-primary btn-lg active" role="button" aria-pressed="true">Iniciar Sesion</a>
<br/>

<a th:href ="registrarUsuario" class="btn btn-block btn-primary btn-lg active" role="button" aria-pressed="true">Registrate</a>

</body>


</html>