<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </link>
    <title>		Formulario de Registro	</title>

    <style type="text/css">
        body {
            color: purple;
            background-color: #00FFFF }

        a:link {
            text-decoration: none;
        }

        a{
            color: white;
        }

        h1{
            text-align: center;
        }

        label{
            color: black;
            font-family: inherit;
            font-weight 600;
        }

    </style>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand" href="#">Inicio De Sesion</h1>
</nav>
<div>
<form action = "verificarUsuario" method = "post">
    <label>Ingrese el nombre de Usuario</label><br/>
    <input type = "text" th:field = "${usuario.nombreDeUsuario}"/><br/>
    <label>Ingrese la clave de Usuario</label><br/>
    <input type = "password" th:field = "${usuario.contraseña}"/><br/>
    <label>Ingrese el DNI de Usuario</label><br/>
    <input type = "number" th:field = "${usuario.dni}"/><br/>
    <br/>
    <input type = "submit" value = "Verificar" class = "btn btn-dark"/>
</form>
</div>

<br/>
<button type="submit" class="btn btn-dark" value= "inicio"><label> <a th:href= "@{/}">Inicio</a> </label></button>

</body>



</html>