<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </link>
    <title>		Formulario de Registro	</title>

    <style type="text/css">
        body {
            color: purple;
            background-color: #00FFFF }

        a:link {
            text-decoration: none;
        }

        a{
            color: white;
        }

        h1{
            text-align: center;
        }

        label{
            color: black;
            font-family: inherit;
            font-weight 600;
        }

    </style>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand" href="#">Registrate</h1>
</nav>

<form action="registrarUsuario" method = "post">
    <label>Nombre</label> <br/>
    <input type = "text" th:field = "${Usuario.nombreDeUsuario}"
           placeholder = "Ingrese el nombre" /><br/><br/>

    <label>Contraseña</label> <br/>
    <input type = "text" th:field = "${Usuario.contraseña}"
           placeHolder = "Ingresar el password"/> <br/><br/>



    <button type="submit" class="btn btn-dark" value= "Registrar Usuario">Registrar</button>

</form>

<br/>
<button type="submit" class="btn btn-dark" value= "Registrar Usuario"><label> <a th:href= "@{/}">Inicio</a> </label></button>

</body>



</html>