<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </link>
    <title>		Formulario Publicacion</title>

    <style type="text/css">

        a:link {
            text-decoration: none;
        }

        a{
            color: white;
        }

    </style>

</head>



<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand" href="#">Lista de Publicaciones</h1>
</nav>

<br/>

<h2>Lista de publicaciones </h2>

<br/>

<form action="verProductosCreados" method = "get">


</form>

<br/>
<table class="table">

    <thead>
    <tr>

        <th scope="col">Imagen</th>
        <th scope="col">Publicacion</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tags</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each = "p : ${listaDeProductosCreadosPorUsuario}" >

        <td><img th:src = "${p.getImagen()}" width="75" height="75"/> </td>
        <td><p th:text = "${p.getNombreProducto()}"> </p></td>
        <td><p th:text = "${p.getPrecioProducto()}"> </p></td>
        <td><p th:text = "${p.getCantidad()}"> </p> </td>
        <td><p th:text = "${p.getTags()}"> </p> </td>

    </tr>

    </tbody>
</table>


<a th:href = "@{/menuPrincipal}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver a Inicio</a>


</html>